<!-- <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <title>Media Links</title>
        <link rel="stylesheet" media="screen" href="./assets/orbit.css" >
    </head>
    <body> -->
        <div class="container">
            <canvas [attr.data-diamond]="did" data-extension="jpg" data-frames="302" data-oscillating-video="no" data-path="https://s3.amazonaws.com/illuminex-stage-media-processed" data-prefix="thumbs/thumb_" data-rotation-constant="2400" data-stock-type="Diamond" id="orbiter" height="600" width="600"></canvas>
        </div>
           
              
    <!-- </body>
</html> -->

      <!-- - image_base_path = (ENV['APP_HOST_NAME'] == 'www.getvdb.com' ? "https://d3momot23o45wk.cloudfront.net" : "#{@diamond.orbit_bucket_path}") -->

      <!-- %canvas#orbiter{"data-diamond" => @diamond.id, "data-extension" => "jpg", "data-frames" => @diamond.orbit_frames_count, "data-path" => "#{image_base_path}", "data-prefix" => "thumbs/thumb_", "data-rotation-constant" => @rotation_constant, "data-stock-type" => @diamond.type, "data-oscillating-video" => (@diamond.oscillating_video ? 'yes' : 'no')} -->

    