<!-- <html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->

<!-- <script type="text/javascript" src="./Media Links_files/18e9886bc5"></script> -->
<!-- <script src="./Media Links_files/nr-1071.min.js"></script>     -->


<!-- <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"> -->
<!-- <link rel="stylesheet" media="screen" href="./Media Links_files/orbit-c81885f423f20dda23c62e9921cc7b56c550900f03bb2233b84244fee6c15fa0.css"> -->
<!-- </head> -->

<!-- <body> -->
<div class="container">
    <h1>THIS IS CANVAS :: {{id}}</h1>

    <!-- <canvas data-diamond="83916" data-extension="jpg" data-frames="302" data-oscillating-video="no" data-path="https://s3.amazonaws.com/illuminex-stage-media-processed" data-prefix="thumbs/thumb_" data-rotation-constant="2400" data-stock-type="Diamond" id="orbiter" -->
    <!-- height="600" width="600"></canvas> -->
</div>
<!-- </body> -->

<!-- </html> -->